/*!

 =========================================================
 * Material Dashboard Angular - v2.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-dashboard-angular2
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "core/variables";
@import "core/mixins";
@import "~bootstrap/scss/bootstrap";


// Core Components
@import "core/buttons";
@import "core/checkboxes";
@import "core/radios";
@import "core/forms";
@import "core/input-group";
@import "core/images";
@import "core/navbar";
@import "core/alerts";
@import "core/type";
@import "core/tabs";
@import "core/tooltip";
@import "core/popover";
@import "core/dropdown";
@import "core/togglebutton";
@import "core/ripples";
@import "core/footers";
@import "core/sidebar-and-main-panel";
@import "core/fixed-plugin";
@import "core/tables";
@import "core/misc";

@import "core/cards";
@import "core/cards/card-stats";
@import "core/cards/card-profile";
@import "core/cards/card-plain";

//plugin scss
@import "core/plugins/animate";
@import "core/plugins/chartist";
@import "core/plugins/perfect-scrollbar";

@import "core/responsive";


.copyright
{
	 font-family: 'Orbitron';
}

.navbar
{
  -webkit-app-region: drag;
  height: 64px;
  margin-top: 6px;
}

.logo
{
  -webkit-app-region: drag;
}

.sidebar
{
	overflow:hidden;
}

.navRightMargin
{
  -webkit-app-region: no-drag;	
}

.body
{
	overflow: hidden;
}

.aHref
{
	cursor: pointer;
}

.alogoimg
{
  background-image: url(../../assets/img/logo.png);
  width: 73px;
  height: 46px;
  background-size: contain;
}

.navRightMargin
{
	margin-right: 20px;
}

.mainNoMarginButPad
{
	margin-top: 0px;
	padding-top:140px;
}

.main-panel
{
	@media only screen and (max-width: 992px) 
    {
	width:100% !important;
    }
}

.main-panel .main-content
{
margin-top: -70px;
min-height: calc(100vh - 113px);
}

.footer
{

}

.NMC
{
	color: #ff0000 !important;
	font-family: 'Orbitron' !important;
}

#langstop
{
 -webkit-app-region: no-drag;
 margin-right: 40px; 
}

.langsbutton
{
	background-color: #ff0000;
}

.langsbutton:hover
{
	background-color: #ff2222;
}

.navMargRight
{
margin-right: 40px;
}

.btn-danger
{
  -webkit-app-region: no-drag;	
}

.navbar-toggler
{
    -webkit-app-region: no-drag;		
}

/*OVERVIEW AND BASISCS*/
/**********************/

body
{
	background-image: url(../../assets/img/xyonbg.png);
	background-size: cover;
}

.sidebar
{
	background-image: url(../../assets/img/sidemenubg.png);
	background-size: cover;
	width: 146px;
}

.sidebar .nav p
{
	font-family: "Roboto";
	font-size: 12px;
	color: #aaaaaa;
	font-weight: 400;
	padding-top: 7px;
}

.logo-img
{
	max-height: 46px !important;
}

.logo
{
	padding: 5px 20px !important;
}

.sidebar[data-color="danger"] li.active > a
{
	box-shadow: initial;
	background: rgba(0,0,0,0.4);
}

.nav-link
{
	margin: 0px !important;
}

.iconoverview
{
	width: 42px;
	height: 42px;
}

.iconaddresses
{
	width: 42px;
	height: 42px;
}

.iconsend
{
	background: url(../../assets/img/isend.png) 50% 50% no-repeat !important;
	width: 42px !important;
	height: 42px;
}

.icontransactions
{
	background: url(../../assets/img/itransactions.png) 50% 50% no-repeat !important;
	width: 42px !important;
	height: 42px;
}

.iconnamecreations
{
	background: url(../../assets/img/inamecreations.png) 50% 50% no-repeat !important;
	width: 42px !important;
	height: 42px;
}

.iconsettings
{
	background: url(../../assets/img/isettings.png) 50% 50% no-repeat !important;
	width: 42px !important;
	height: 42px;
}

.iconconsole
{
	background: url(../../assets/img/itransparent.png) 50% 50% no-repeat !important;
	width: 42px !important;
	height: 42px;
}

.iconexit
{
	background: url(../../assets/img/iclose.png) 50% 50% no-repeat !important;
	width: 42px !important;
	height: 42px;
}

.sidebar .nav li a
{
	padding: 10px 5px;
}

.sidebar .nav i
{
	margin-right: 2px;
}

.navbar
{
	background-color: rgba(0,0,0,0) !important;
	box-shadow: initial !important;
}

.navTopLink:hover
{
	opacity: 0.8;
	color: #aaaaaa;
}

.navTopLink
{
	 -webkit-app-region: no-drag;
	 font-family: "Roboto";
	 font-size: 12px;
	 color: #aaaaaa;
	 margin: 10px 10px;
}

.imgOverview:hover
{
	opacity: 0.8;
}

.imgOverview
{
	background: url(../../assets/img/ioverview.png) 0% 50% no-repeat;
	width: 100%;
	height: 28px;
	font-family: "Roboto";
	font-size: 12px;
	color: #ffffff;	
	padding-left: 34px;
	 -webkit-app-region: no-drag;
}

.sidebar .sidebar-wrapper
{
	width: 146px;
}

.main-panel
{
	width: calc(100% - 160px);
	background: url(../../assets/img/xyontext.png) 50% 50% no-repeat;
	
}

.material-icons
{
	opacity: 0.6;
}

.sidebar .nav li.active > a, .sidebar .nav li.active > a i
{
	opacity: 1;
}

.sidebar .nav li.active > a, .sidebar .nav li.active > a i::after {
background: url(../../assets/img/selectionline.png) 50% 50% no-repeat;
width: 100%;
background-position: bottom;
}

.toplinkmenu.active
{
border-bottom: 1px solid #ff0000;
width: 104px !important;	
}

.overviewmiddle
{
	background: url(../../assets/img/middlefield.png) 50% 50% no-repeat;
	width: 98%;
	height: 469px;
	margin-right: auto;
	position: relative;
	max-width: 1060px; /*fixes responsivness issue on large width */
}

.synchronizingbar
{
	position: relative;
	background: #303030;
	width: 98%;
	max-width: 1060px; /*fixes responsivness issue on large width */
	height: 20px;
}

.barfillinfo
{
position: absolute;
height: 20px;
left:0px;
top:0px;
width: 80%;
background: #005902; /* Old browsers */
background: -moz-linear-gradient(left, #005902 0%, #00f20c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #005902 0%,#00f20c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #005902 0%,#00f20c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005902', endColorstr='#00f20c',GradientType=1 ); /* IE6-9 */	
}

.synchText
{
  font-family: "Roboto";
  font-size: 12px;
  color: #b1b1b1;	
  display: inline-block;
  position: relative;
  z-index: 1;    
  padding-left: 20px;
  vertical-align: top;
  height: 20px;
  margin-top: -1px;  
}

.synchBlockVals
{
  font-family: "Roboto";
  font-size: 12px;
  color: #ffffff;	
  display: inline-block;
  position: relative;
  z-index: 1;  
  margin-left: 31%;
  vertical-align: top;
  height: 20px;
  margin-top: -1px;
}

.walletversion
{
  font-family: "Roboto";
  font-size: 12px;
  color: #aaaaaa;
  position: absolute;
  bottom: 16px;  
  left: 20px;
}

.skiptop
{
	width: 100%;
	height: 54px;
	display: block;
}

.balancering
{
	background: url(../../assets/img/balancering.png) 50% 50% no-repeat;
	width: 259px;
	height: 259px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;	
}

.balancetext
{
  font-family: "Roboto"; 
  font-size: 12px;
  color: #ff0000;
  padding-top:93px;  
}

.balanceAMount
{
  font-family: "Roboto"; 
  font-size: 18px;
  color: #ffffff;	
}

.currencyLevel
{
  font-family: "Roboto"; 
  font-size: 14px;
  color: #ffffff;	
  font-weight: 700;
  padding-top: 24px;
  padding-left: 44px;
}

.debugtextline
{
	
  background: url(../../assets/img/debugicon.png) 0% 50% no-repeat;
  font-family: "Roboto"; 
  font-size: 12px;
  color: #c6c6c6;		
  text-align: left;
  padding-left: 20px;
  padding-top: 1px;
  float: right;
  padding-right: 70px;
	
}

.main-panel .footer
{
	border-top: initial !important;
}

.bottomInfoBlock
{
	background: url(../../assets/img/databg.png);
	position: absolute;
	right: 0px;
	bottom:0px;
	height:200px;
	background-size: cover;
	width: 280px;
	display: inline-block;
}

.entryPic0
{
background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
                  url(../../assets/img/iconnections.png);

width: 40px;
height: 40px;
background-repeat: no-repeat;
background-position: center center;		
display: inline-block;	  
				  
}


.entryPic1
{
background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
                  url(../../assets/img/inetwork.png);

width: 40px;
height: 40px;			  
background-repeat: no-repeat;
background-position: center center;	
display: inline-block;					  
}


.entryPic2
{
background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
                  url(../../assets/img/iconnections.png);

width: 40px;
height: 40px;			  
background-repeat: no-repeat;
background-position: center center;	
display: inline-block;				  
}


.entryPic3
{
background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
                  url(../../assets/img/iconnections.png);

width: 40px;
height: 40px;				  
background-repeat: no-repeat;
background-position: center center;	
display: inline-block;					  
}


.entryPic4
{
background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)),
                  url(../../assets/img/iconnections.png);

width: 40px;
height: 40px;			  
background-repeat: no-repeat;
background-position: center center;	
display: inline-block;					  
}

.intoEntry
{
	height: 40px;
}

.entryText
{
  font-family: "Roboto"; 
  font-size: 12px;
  color: #afafaf;		
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 12px;
}

/*TRANSACTRION AND OTHER SHARED ELEMS*/

.card .card-body
{
	background-color: rgba(0,0,0,0);
}

.card
{
	background-color: rgba(0,0,0,0.65);
	border-radius: 0px;
}

.card-header-danger
{
	margin:0px !important;
	border-radius:0px !important;
	width:200px !important;
	height:28px !important;
	padding:6px !important;
	text-align: center !important;
	font-family: "Roboto" !important;
	font-size: 12px !important;
	color: #ffffff !important;
	background: #5b0101 !important;/* Old browsers */
	background: -moz-linear-gradient(left, #5b0101 1%, #ed1f04 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #5b0101 1%,#ed1f04 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #5b0101 1%,#ed1f04 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b0101', endColorstr='#ed1f04',GradientType=1 ) !important; /* IE6-9 */

	
}

th
{
    font-family: "Roboto"; 
    font-size: 12px !important;	
	color: #aaaaaa !important;	
	border-bottom: 1px solid #aaaaaa;
}

td
{
    font-family: "Roboto"; 
    font-size: 12px !important;		
	color: #aaaaaa !important;	
	border-bottom: 1px solid #aaaaaa;
}

.card-title
{
	font-size: 12px !important;
}

/* SEND SCREEN */

.mat-form-field-placeholder
{
    font-family: "Roboto"; 
    font-size: 12px !important;		
	color: #aaaaaa !important;	
}

.mat-input-element
{
	color: #ffffff !important;
}

.sendsomespaceskip
{
	width: 100%;
	height:50px;
	display: block;
}

.chisymbol
{
  background-image: url(../../assets/img/chiimage.png);
  width: 34px;
  height: 42px;	
  display: inline-block  !important;
  vertical-align: middle;
}

.mat-select-value
{
    font-family: "Roboto"; 
    font-size: 14px !important;		
	color: #aaaaaa !important;		
	font-weight: 700;
}


.mat-select-arrow
{
	color: rgba(255, 255, 255, 0.54) !important;		
}

.mat-select-arrow
{
	border-top: 10px solid !important;
}

.mat-form-field-underline
{
	background-color: rgba(0,0,0,0) !important;
	opacity: 0  !important;;
}

.limitedWidth
{
	max-width: 70px;
	display: inline-block  !important;
}

.limitedWidth .mat-input-wrapper
{
	border-bottom: 0px !important;
}

.mat-input-wrapper
{
	width: 80%;
	border-bottom: 1px solid #aaaaaa;
	
}

.mat-form-field-wrapper
{
	padding-bottom: 0px !important;
}

.mat-form-field-subscript-wrapper
{
	opacity: 0 !important;
}

.mat-checkbox-frame
{
	background-color: rgba(255,255,255,0.65) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
{
	background-color: #ff0000;
}

.buttonBas
{
	margin-left: auto !important;
	margin-right: auto !important;
	float: initial !important;
	display: block !important;
	height: 36px !important;
	padding-top: 9px !important;
	margin-top: 40px !important;
	background-color: #ff0000 !important;
	font-size: 14px !important;
}

.matrginfixesss
{
	margin-left: -60px;
	margin-top: 12px;
}

/* NAME CREATION SCREEN */

.nameimg
{ 

  background-image: url(../../assets/img/nameimage.png);
  width: 76px;
  height: 94px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
}

.nametitle1
{
	text-align: center;
	font-family: "Roboto";
	font-size: 24px;
	color: #ff0000;
	font-weight: 300;	
	margin-top: 14px;
}

.nametitle2
{
	text-align: center;
	font-family: "Roboto";
	font-size: 12px;
	color: #aaaaaa;
	font-weight: 400;	
	margin-bottom: 28px;
}

.specialnwidth .mat-input-wrapper
{
	width: 90.5%;

}

/*SETTINGS SCREEN*/

.btnSettings
{

	float: initial !important;
	display: inline-block !important;
	height: 32px !important;
	padding-top: 9px !important;
	margin-top: 40px !important;
	background-color: #ff0000 !important;
	font-size: 12px !important;
	font-family: "Roboto" !important;
	font-weight: 700 !important;	
	display: inline-block;
	width: 120px;
	background-color: #303030 !important;
	text-transform: initial !important;
	color: #aaaaaa !important;
    border-radius: 0px  !important;
	box-shadow: initial !important;
	margin-top: 15px !important;
}

.btnSettings.mat-raised-button.selected
{
	background-color: #369a00 !important;
	color: #ffffff !important;
}

.inlinedControl
{
	display: inline-block;
}

.egtext
{
	font-weight: 700;
	margin-left: 10px;
	font-size: 12px;
}

.formWhite
{
	color: #ffffff;
}

.specialBUBut
{
	border: 1px solid #ffffff !important;
	margin-top: 10px !important;
}

.sstspace
{
	height: 190px;
	width: 100%;
	display: block;
}

.warntexset
{
	text-align: center;
	max-width: 263px;
	font-family: "Roboto";
	font-size: 12px;
	color: #aaaaaa;	
	margin-left: auto;
	margin-right: auto;
}