<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav navRightMargin">
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  id = "coinNavBar">
                            <i class="fa cc NMC" style = "display: inline;"> {{this.precisionText}}</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class = "aHref" (click)="setCoinPrecision(0); $event.stopPropagation();">CHI</a></li>
                            <li><a class = "aHref" (click)="setCoinPrecision(1); $event.stopPropagation();">mCHI</a></li>
                            <li><a class = "aHref" (click)="setCoinPrecision(2); $event.stopPropagation();">μCHI</a></li>
                        </ul>
                    </li>
            </ul>
        </div>
		<div class="dropdown" id = "langstop">
			<button href="#" class="btn dropdown-toggle langsbutton" data-toggle="dropdown" aria-expanded="true" >
				<i class="material-icons" id = "langdrop"></i>
				<b class="caret"></b>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a class = "dropdown-item aHref" (click)="setLangEN(); $event.stopPropagation();">
						<i class="pe-7s- flag-icon flag-icon-gb"></i> English
					</a>
				</li>
				<li>
					<a class = "dropdown-item aHref" (click)="setLangRU(); $event.stopPropagation();">
						<i class="pe-7s- flag-icon flag-icon-ru"></i> Русский
					</a>
				</li>
			</ul>
        </div>
    </div>
</nav>