<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
	    <a class = "toplinkmenu" routerLinkActive="active"  [routerLink]="['/dashboard']" ><div class = "imgOverview">{{'SOVERVIEW.OVERVIEW' | translate }}</div></a>
		
        <div class="navbar justify-content-end" style = "width:100%; "id="navigation">
		
            <ul class="navbar-nav navRightMargin">
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  id = "coinNavBar">
                            <i class="fa NMC" style = "display: inline;"> {{this.precisionText}}</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class = "aHref" (click)="setCoinPrecision(0);">CHI</a></li>
                            <li><a class = "aHref" (click)="setCoinPrecision(1);">mCHI</a></li>
                            <li><a class = "aHref" (click)="setCoinPrecision(2);">μCHI</a></li>
                        </ul>
                    </li>
            </ul>
			
			<div class="dropdown" id = "coinNavBar">
				<button href="#" class="btn dropdown-toggle langsbutton" data-toggle="dropdown" aria-expanded="true" >
					<i class="material-icons" id = "walletDrop"></i>
					<b class="caret"></b>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class = "dropdown-item aHref" (click)="this.setWalletDefault();">
							<i class="pe-7s- flag-icon wallet-default"></i> {{'SOVERVIEW.VAULTWALLET' | translate }}
						</a>
					</li>
					<li>
						<a class = "dropdown-item aHref" (click)="this.setWalletGame();">
							<i class="pe-7s- flag-icon wallet-game"></i> {{'SOVERVIEW.GAMEWALLET' | translate }}
						</a>
					</li>
				</ul>
			</div>		
        
			<div class="dropdown" id = "langstop">
				<button href="#" class="btn dropdown-toggle langsbutton" data-toggle="dropdown" aria-expanded="true" >
					<i class="material-icons" id = "langdrop"></i>
					<b class="caret"></b>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class = "dropdown-item aHref" (click)="setLangEN(); $event.stopPropagation();">
							<i class="pe-7s- flag-icon flag-icon-gb"></i> English
						</a>
					</li>
					<li>
						<a class = "dropdown-item aHref" (click)="setLangRU(); $event.stopPropagation();">
							<i class="pe-7s- flag-icon flag-icon-ru"></i> Русский
						</a>
					</li>
				</ul>
			</div>
			<a href = "#" class="navTopLink"(click)="this.showAbout(); $event.stopPropagation();">{{'NAVBAR.ABOUT' | translate }}</a>
			<a href = "#" class="navTopLink" (click)="this.showHelp(); $event.stopPropagation();">{{'NAVBAR.HELP' | translate }}</a>
			<a href = "#" class="navTopLink" (click)="this.minimizeMe(); $event.stopPropagation();">{{'NAVBAR.MINIMIZE' | translate }}</a>
						
			<button mat-raised-button class="navbar-toggler" type="button ignoreDrag" (click)="this.sidebarToggle()">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
			</button>	
			
		</div>
    </div>
</nav>