<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">

        <div class="navbar justify-content-end" style = "width:100%; "id="navigation">
		
			<button mat-raised-button class="navbar-toggler" type="button ignoreDrag" (click)="this.sidebarToggle()">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
			</button>
			
			<div class="dropdown" id = "coinNavBar">
				<button href="#" class="btn dropdown-toggle langsbutton" data-toggle="dropdown" aria-expanded="true" >
					<i class = "flag-icon wallet-default" id = "walletDrop">{{this.walletNameAndBalance }}</i>
					<b class="caret"></b>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class = "dropdown-item aHref" (click)="this.setWalletDefault();">
							<i class="pe-7s- flag-icon wallet-default"></i> {{this.walletNameAndBalanceVault }}
						</a>
					</li>
					<li>
						<a class = "dropdown-item aHref" (click)="this.setWalletGame();">
							<i class="pe-7s- flag-icon wallet-game"></i> {{this.walletNameAndBalanceGame }}
						</a>
					</li>
				</ul>
			</div>		
        
			<div class="dropdown" id = "langstop">
				<button href="#" class="btn dropdown-toggle langsbutton" data-toggle="dropdown" aria-expanded="true" >
					<i class="material-icons" id = "langdrop"></i>
					<b class="caret"></b>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('gb');">
							<i class="pe-7s- flag-icon flag-icon-gb"></i> English
						</a>
					</li>
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('ru');">
							<i class="pe-7s- flag-icon flag-icon-ru"></i> Русский
						</a>
					</li>
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('cn');">
							<i class="pe-7s- flag-icon flag-icon-cn"></i> 中文
						</a>
					</li>		
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('pt');">
							<i class="pe-7s- flag-icon flag-icon-pt"></i> Português
						</a>
					</li>	
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('es');">
							<i class="pe-7s- flag-icon flag-icon-es"></i> Español
						</a>
					</li>	
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('id');">
							<i class="pe-7s- flag-icon flag-icon-id"></i> Bahasa Indonesia
						</a>
					</li>
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('jp');">
							<i class="pe-7s- flag-icon flag-icon-jp"></i> 日本語
						</a>
					</li>	
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('it');">
							<i class="pe-7s- flag-icon flag-icon-it"></i> Italiano
						</a>
					</li>		
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('hr');">
							<i class="pe-7s- flag-icon flag-icon-hr"></i> Hrvatski
						</a>
					</li>		
					<li>
						<a class = "dropdown-item aHref" (click)="this.setLang('tr');">
							<i class="pe-7s- flag-icon flag-icon-tr"></i> Türkçe
						</a>
					</li>						
				</ul>
			</div>
			<a href = "#" class="navTopLink"(click)="this.showAbout(); $event.stopPropagation();">{{'NAVBAR.ABOUT' | translate }}</a>
			<a href = "#" class="navTopLink" (click)="this.showHelp(); $event.stopPropagation();">{{'NAVBAR.HELP' | translate }}</a>
			<a href = "#" class="navTopLink" (click)="this.minimizeMe(); $event.stopPropagation();">{{'NAVBAR.MINIMIZE' | translate }}</a>
									
		</div>
    </div>
</nav>