<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{'SSEND.SENDPAYMENT' | translate }}</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form name = "sendform">
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'SSEND.PAYTOADDRESS' | translate }}"  [value]="this.address" (input)="this.address = $event.target.value">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'SSEND.OPTIONALCOMMENT' | translate }}"  [value]="this.label" (input)="this.label = $event.target.value">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'SSEND.AMOUNTVALUE' | translate }}" type="number"  [value]="this.amount" (input)="this.amount = $event.target.value">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
								<mat-form-field>
								  <mat-select name = "curselectors" placeholder="CHI" [(ngModel)]="this.selected">
									<mat-option *ngFor="let currency of currencies" [(value)]="currency.value">
									  {{ currency.viewValue }}
									</mat-option>
								  </mat-select>
								</mat-form-field>
                              </div>	
                              <div class="col-md-12">
							  <mat-checkbox name = "checkboxysend" [(ngModel)]="this.fee">{{'SSEND.SUBSTRACTFEEFROMAMOUNT' | translate }}</mat-checkbox> 

							
                              </div>	
							  
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="makeThePayment(); $event.stopPropagation();">{{'SSEND.MAKEPAYMENT' | translate }}</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
            </div>		
        </div>
    </div>
</div>