<div class="main-content">
    <div class="container-fluid">
	
	    
        <div class="row">
		
	
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{'SADDRESSES.GENERATERECEIVINGADDRESS' | translate }}</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form name = "addressform">
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'SADDRESSES.ADDRESSLABEL' | translate }}"  [value]="this.aLabel" (input)="this.aLabel = $event.target.value">
                                  </mat-form-field>
                              </div>
	
							  
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="insertReceivingAddress(); $event.stopPropagation();">{{'SADDRESSES.INSERT' | translate }}</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
            </div>						
		
            <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">{{'SADDRESSES.RECEIVINGADDRESSES' | translate }}</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      {{'SADDRESSES.ADDRESSLABEL' | translate }}
                                  </th>
                                  <th>
                                      {{'SADDRESSES.ADDRESS' | translate }}
                                  </th>
								  <th>
								  </th>								  
                              <tbody>
                                  <tr *ngFor="let row of receiveAddressTableData">
                                      <td class = "tdname">
                                          {{row.label}}
                                      </td>
                                      <td class = "tdname">
                                          {{row.value}}
                                      </td>
									  <td class = "tdname">
									  <button mat-raised-button type="submit" class="btn btn-danger pull-right buttonBas" (click)="copyTheAddress(row.value); $event.stopPropagation();">{{'SADDRESSES.COPY' | translate }}</button>
									  </td>									  
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
			
			<!--  Lets not remove sending addresses completely now, as eventually we will have labels for those implement too (likely)
            <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">{{'SADDRESSES.SENDINGADDRESSES' | translate }}</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      {{'SADDRESSES.ADDRESSLABEL' | translate }}
                                  </th>
                                  <th>
                                      {{'SADDRESSES.ADDRESS' | translate }}
                                  </th>
                              <tbody>
                                  <tr *ngFor="let row of sendAddressTableData">
                                      <td>
                                          {{row.label}}
                                      </td>
                                      <td>
                                          {{row.value}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>			
			-->

        </div>
		
		
		
    </div>
</div>