<div class="main-content">
    <div class="container-fluid">
        <div class="row">

			<div class="col-md-12">
				<div class="card">
				  <div class="card-body">
					  <form name = "addressform">
						  <div class="row">
						  
						      <div class="col-md-12">
							    <div class = "nameimg"></div>
								<div class = "nametitle1">{{'SCHIMAERA.TITLE1' | translate }}</div>
								<div class = "nametitle2">{{'SCHIMAERA.TITLE2' | translate }}</div>
							  </div>
							  <div class="col-md-2"></div>	
                              <div class="col-md-4">
								<mat-form-field>
								  <mat-select name = "curselectors" placeholder="{{'SCHIMAERA.NAMESPACE' | translate }}" [(ngModel)]="this.namespace">
									<mat-option *ngFor="let namespc of namespaces" [(value)]="namespc.value">
									  {{ namespc.viewValue }}
									</mat-option>
								  </mat-select>
								</mat-form-field>
                              </div>	
							  <div class="col-md-4">
								<mat-form-field class="example-full-width" [attr.disabled]="this.customDisabled() == true ? true : null">
									<input matInput placeholder="{{'SCHIMAERA.NAMESPACECUSTOM' | translate }}"  [value]="this.nnamespacestom" (input)="this.nnamespacestom = $event.target.value">
								  </mat-form-field>
							  </div>		
                              <div class="col-md-2"></div>	
                               <div class="col-md-2"></div>								  
							  <div class="col-md-8">
								<mat-form-field class="example-full-width specialnwidth">
									<input matInput placeholder="{{'SCHIMAERA.NAME' | translate }}"  [value]="this.nname" (input)="this.nname = $event.target.value">
								  </mat-form-field>
							  </div>
							  <div class="col-md-2"></div>	
							  <div class="col-md-2"></div>	 
							  <div class="col-md-8">
								<mat-form-field class="example-full-width specialnwidth">
									<input matInput placeholder="{{'SCHIMAERA.VALUE' | translate }}"  [value]="this.nvalue" (input)="this.nvalue = $event.target.value">
								  </mat-form-field>
							  </div>
                               <div class="col-md-2"></div>								  
						  </div>
						  
						  <div class="col-md-12">
						    <button mat-raised-button type="submit" class="btn btn-danger pull-right buttonBas" (click)="submitTheName(); $event.stopPropagation();">{{'SCHIMAERA.SUBMIT' | translate }}</button>
						  </div>
					  </form>
				  </div>
			  </div>
			</div>			
        </div>
    </div>
</div>