
<nav #navbar class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <div class="" *ngIf="isMobileMenu()">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  id = "coinNavBar">
                            <i class="fa cc NMC" style = "display: inline;"> {{this.precisionText}}</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class = "aHref" (click)="setCoinPrecision(0); $event.stopPropagation();">CHI</a></li>
                            <li><a class = "aHref" (click)="setCoinPrecision(1); $event.stopPropagation();">mCHI</a></li>
                            <li><a class = "aHref" (click)="setCoinPrecision(2); $event.stopPropagation();">μCHI</a></li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-with-icons">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id = "langsNavBar">
                            <i class="flag-icon flag-icon-gb" id = "langdrop"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                            <li>
                                <a class = "aHref" (click)="setLangEN(); $event.stopPropagation();">
                                    <i class="pe-7s- flag-icon flag-icon-gb"></i> English
                                </a>
                            </li>
                            <li>
                                <a class = "aHref" (click)="setLangRU(); $event.stopPropagation();">
                                    <i class="pe-7s- flag-icon flag-icon-ru"></i> Русский
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
