<div class="main-content">
    <div class="container-fluid" style = "padding: 0px;">
        <div class = "overviewmiddle">
		    <div class = "skiptop"></div>
			<div class = "balancering">
			   <div class = "encryptBlock">
			     <button *ngIf="this.encryptStatus == 0 && this.isWalletVault()" mat-raised-button type="submit" class="btn btn-danger pull-right buttonBas buttonInline" (click)="this.encryptWallet(); $event.stopPropagation();">{{'SOVERVIEW.ENCRYPT' | translate }}</button>
			     <button *ngIf="this.encryptStatus == 1  && this.isWalletVault()" mat-raised-button type="submit" class="btn btn-danger pull-right buttonBas buttonInline" (click)="this.unlockWallet(); $event.stopPropagation();">{{'SOVERVIEW.UNLOCK' | translate }}</button>
			     <div *ngIf="this.encryptStatus == 2  && this.isWalletVault()" class = "textUnlocked">{{this.textUnlocked}}</div> 
			   </div>
			   
			   <div class = "balancetext">{{'SOVERVIEW.BALANCE' | translate }}</div>
			   <div class = "balanceAMount">{{this.tBalance}}</div>
			   <div class = "currencyLevel">{{this.precisionText}}</div>
			</div>
			
			<div class = "walletversion">{{'SOVERVIEW.WALLETVERSION' | translate }}: {{this.tWalletVersion}}</div>
			<div class = "walletbuildversion">{{'SOVERVIEW.WALLETBUILDVERSION' | translate }}: {{this.tWalletBuildVersion}}</div>
			<div class = "bottomInfoBlock">
			
			  <div class = "intoEntry">
			    <div class = "entryPic0"></div>
				<div class = "entryText">{{'SOVERVIEW.CONNECTIONS' | translate }}: {{this.tConnections}}</div>
			  </div>
			  
			  <div class = "intoEntry">
			    <div class = "entryPic1"></div>
				<div class = "entryText">{{'SOVERVIEW.NETTYPE' | translate }}: {{this.tNetType}}</div>
			  </div>

			  <div class = "intoEntry">
			    <div class = "entryPic2"></div>
				<div class = "entryText">{{'SOVERVIEW.PRUNED' | translate }}: {{this.tPruned}}</div>
			  </div>

			  <div class = "intoEntry">
			    <div class = "entryPic4"></div>
				<div class = "entryText">{{'SOVERVIEW.MEDIANTIME' | translate }}: {{this.tMedianTime}}</div>
			  </div>			  
			  
			</div>
		
		
		</div>
		
		<div class = "synchronizingbar">
		  <div class = "barfillinfo" [style.width]="this.barFillPercentage"></div>
		  <div class = "synchBlockVals">{{'SOVERVIEW.BLOCKPROGRESSION' | translate }}: {{this.tBlockStatus}}</div>
		</div>
		
		<div class = "synchText">{{this.synchText}}{{this.tErrors}}</div>
		<button mat-raised-button type="submit" class="btn btn-danger pull-right buttonBas2" (click)="askIfResynch(); $event.stopPropagation();">{{'SSETTINGS.RESYNCH' | translate }}</button>
        <div class="clearfix"></div>
		
    </div>
</div>
