<div class="main-content">
    <div class="container-fluid">
        <div class="row">

				<div class="col-md-12">
					  <div class="card">
						  <div class="card-header card-header-danger">
							  <h4 class="card-title ">{{'STRANSACTIONS.TRANSACTIONHISTORY' | translate }}</h4>
							  <p class="card-category"></p>
						  </div>
						  <div class="card-body">
							  <div class="table-responsive">
								  <table class="table" id="example">
									  <thead class=" text-primary">
									  <tr>
										  <th>
											  {{'STRANSACTIONS.ADDRESS' | translate }}
										  </th>
										  <th>
											  {{'STRANSACTIONS.NAME' | translate }}
										  </th>
										  <th>
											  {{'STRANSACTIONS.CATEGORY' | translate }}
										  </th>
										  <th>
											  {{'STRANSACTIONS.AMOUNT' | translate }}
										  </th>
										  <th>
											  {{'STRANSACTIONS.DATE' | translate }}
										  </th>	
										  <th>
											  {{'STRANSACTIONS.CONFIRMATIONS' | translate }}
										  </th>	
										  <th>
											  {{'STRANSACTIONS.TXID' | translate }}
										  </th>											  
									  </tr>
									  <tbody>
										  <tr *ngFor="let row of transactionsTable">
											  <td>
												  {{row.address}}
											  </td>
											  <td>
												  {{row.name}}
											  </td>
											  <td>
												  {{row.category}}
											  </td>
											  <td>
												  {{row.amount}}
											  </td>			
											  <td>
												  {{row.time}}
											  </td>		
											  <td>
												  {{row.confirmations}}
											  </td>	
                                              <td>
											  <button mat-raised-button type="submit" class="btn btn-danger pull-right buttonBasSmall" (click)="this.showTxID(row.txid); $event.stopPropagation();">{{'STRANSACTIONS.TXID' | translate }}</button>
											  </td>
											  
										  </tr>
									  </tbody>
								  </table>
								  
								  <div class  = "navLinksTr">
								  
								     <div *ngIf="this.start != 0" style = "display: inline-block;">
								       <button id = "prevlink" (click)="this.clickPrev(); $event.stopPropagation();">PREV</button >
									 </div>
									 
									 <div *ngIf="this.showNext==true" style = "display: inline-block;">
									 <button  id = "nextlink" (click)="this.clickNext(); $event.stopPropagation();">NEXT</button >
									 </div>
									 
								 </div>
								  
							  </div>
						  </div>
					 
				</div>
			
			
            </div>

			
        </div>
    </div>
</div>