<div class="main-content">
    <div class="container-fluid">
        <div class="row">
		
            <div class="col-md-12">

                <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">{{'SSETTINGS.CONNECTIONSETTINGS' | translate }}</h4>
                      <p class="card-category"></p>
                  </div>
                     <div class="card-body">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'SSETTINGS.HOSTADDRESS' | translate }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" [value]="this.host" (input)="this.host = $event.target.value">
                                        <span class="help-block">ex : 127.0.0.1</span>
                                    </div>
                                </div>
                            </fieldset>
							
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'SSETTINGS.PORT' | translate }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" [value]="this.port" (input)="this.port = $event.target.value">
                                        <span class="help-block">ex : 8866</span>
                                    </div>
                                </div>
                            </fieldset>
							
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'SSETTINGS.USERNAME' | translate }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" [value]="this.username" (input)="this.username = $event.target.value">
                                        <span class="help-block">ex : rpcuser</span>
                                    </div>
                                </div>
                            </fieldset>		

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'SSETTINGS.PASSWORD' | translate }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" [value]="this.password" (input)="this.password = $event.target.value">
                                        <span class="help-block">ex : rpcpassword</span>
                                    </div>
                                </div>
                            </fieldset>									


                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateSettingsDetails(); $event.stopPropagation();">{{'SSETTINGS.SUBMIT' | translate }}</button>
                          <div class="clearfix"></div>
						  
						  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="backUpWallet(); $event.stopPropagation();">{{'SSETTINGS.BACKUP' | translate }}</button>
                          <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
